DISCORD_TOKEN=(your Discord Bot token)
MONGODB_URI=(your MongoDB URI)
OLLAMA_BASE_URL=(must not end with a slash and must begin with https:// or http://)
OLLAMA_MODEL=(the model to use, e.g., "ollama/llama2-7b-chat")
BOT_OWNERS=(an array of Discord user IDs, eg "1234435,4573547656756,3442585674")